*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bgimg{
    background-image: url("backgroundimg.jpg");
    background-size: cover;
    background-position:center ;
    height: 100vh;
    display: flex;
}
.left {
  flex: 1;
  background: rgba(0, 0, 0, 0.);
  color: #fff;
  padding: 50px 50px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin-bottom: 30px;
  top: 30px;
  left: 50px;
  z-index: 10;
  color: white;
}

.maintitle {
  margin-left: -20px;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: 4px;
  color:#1c2233 ;
}

.subtitle {
  margin-left: px;
  font-size: 80px;
  color:#1c2233;
  margin-top: -20px;
}
.welc{
  font-size: 30px;
  color: #1c2233;
}
.left p {
  font-size: 16px;
  max-width: 400px;
  color:#1c2233;
  font-weight: 600;
}
.right {
   height: 700px;
   width: 600px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;

}
.loginbox {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 50px;
  border-radius: 5px;
  color: #fff;
  width: 420px;
  height: 500px;
  position: absolute;
  right: 300px;
}
.loginbox h2 {
  text-align: center;
  margin-bottom: 20px;
}
.media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.media button {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid white;
}
.media button i {
  margin-right: 10px;
}
.loginbox p {
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
}
.loginbox input {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);  
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 12px;
  border: none;
  border-radius: 5px;
  color: white;
}
.loginbox input::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 15px;
}
.options label {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  line-height: 1; 
  font-size:14px ;
}
input[type="checkbox"] {
  accent-color: #00c853; 
}
.pass{
  color: #fff;
}
.signin-btn {
  width: 100%;
  padding: 12px;
  background-color:rgb(59, 83, 95);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.p2{
  color:#fff;
}
.sign1{
  color: #fff;
}
