*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-image: url(japansignbg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Heading */
.title{
    margin-bottom: 100px;
    margin-left: 100px;
    color: #1c2233;
    /* color: #264653 ; */
    
}

.title p{
    font-size: 17px;
    color: black;
}

h1{
    font-size: 150px;
    margin-bottom: -35px;
}

h3{
    font-size: 75px;
    margin-bottom: 25px;
}


/* login form */
.login-form{
    height: 250px;
    width: 250px;
    margin-right: 10px;
}

.login-form label {
    display: block;
}

.textbox{
    display: block;
}